<a href="https://colab.research.google.com/github/vale-07-bit/PROGCOM-A/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Estructuras de repetición

Permite repetir una o más de acuerdo con una condición (mientras se cumpla la condición).

###Estructura para -  for
1. Cuando se sabe cunántas veces se repigte una acción.
2. Está conformadopor una condición inicial (CI), una condiicón final (CF) y pasos.
3. Esta estructura no se detendrá, hasta alcanzar CF-1

Estructura general del for

```
for (variable) in range (CI, CF+1, paso)
 Se repite (CF+1-CI)/ paso veces una acción
```
Estructura resumida del for
```
for (variale) in range (cantidad):
 Se repite cantidad de veces
```
Estructura for como iteracción.
1. El para itera tantas veces como elementos tenga la lista.
2. La variable toma el valor de cada elemento por iteración.
```
Lista=[1,2,3,4,5]
for (variable) in Lista:
  Se repite len(lista)
```

In [1]:
#Hacer la tabla de multiplicar de un número n.
n= int(input("El número que desea tabular es: "))

El número que desea tabular es: 2

In [86]:
type(n)

int

In [2]:
print(f"Tabla del {n}")
for holitas in range (1,11,1):
  print(f"{n} x {holitas} = {n*holitas}")

Tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [19]:
print("TABLAS DE MULTIPLICAR")
for fresitas in range (1,11,1):
 print(f"")
 print(f"Tabla del {fresitas}")
 for rositas in range (1,11,1):
   print(f"{rositas} x {fresitas} = {fresitas*rositas}")

TABLAS DE MULTIPLICAR

Tabla del 1
1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10

Tabla del 2
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

Tabla del 3
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

Tabla del 4
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

Tabla del 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

Tabla del 6
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

Tabla del 7
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

Tabla del 8
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

Tabla del 9
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

Tabla del 10
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

In [3]:
print(f"Tabla del n")
for holitas in range (10):
  print(f"{n} x {holitas+1} = {n *(holitas+1)}")

Tabla del n
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [9]:
print(f"Tabla del {n}")
for holitas in range (1,11*n,n):
  print(f"{n} x {int(holitas/n)} = {n*int(holitas/n)}")

Tabla del 2
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [14]:
numeros=[1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(f"{n} x {num} = {n*num}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [15]:
numeros2=list(range(1,11))
for num in numeros2:
  print(f"{n} x {num} = {n*num}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20