<a href="https://colab.research.google.com/github/vale-07-bit/PROGCOM-A/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TIPOS DE ERROR
1. index: en una lista no está la posición
2. definición: cuando  no se definió la variable
3. sintasis: error en la escritura de las palabras

##Estructuras de repetición

Permite repetir una o más de acuerdo con una condición (mientras se cumpla la condición).

###Estructura para -  for
1. Cuando se sabe cunántas veces se repigte una acción.
2. Está conformadopor una condición inicial (CI), una condiicón final (CF) y pasos.
3. Esta estructura no se detendrá, hasta alcanzar CF-1

Estructura general del for

```
for (variable) in range (CI, CF+1, paso)
 Se repite (CF+1-CI)/ paso veces una acción
```
Estructura resumida del for
```
for (variale) in range (cantidad):
 Se repite cantidad de veces
```
Estructura for como iteracción.
1. El para itera tantas veces como elementos tenga la lista.
2. La variable toma el valor de cada elemento por iteración.
```
Lista=[1,2,3,4,5]
for (variable) in Lista:
  Se repite len(lista)
```

In [ ]:
#Hacer la tabla de multiplicar de un número n.
n= int(input("El número que desea tabular es: "))

El número que desea tabular es: 2

In [ ]:
type(n)

int

In [ ]:
print(f"Tabla del {n}")
for holitas in range (1,11,1):
  print(f"{n} x {holitas} = {n*holitas}")

Tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
print("TABLAS DE MULTIPLICAR")
for fresitas in range (1,11,1):
 print(f"")
 print(f"Tabla del {fresitas}")
 for rositas in range (1,11,1):
   print(f"{rositas} x {fresitas} = {fresitas*rositas}")

TABLAS DE MULTIPLICAR

Tabla del 1
1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10

Tabla del 2
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

Tabla del 3
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

Tabla del 4
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

Tabla del 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

Tabla del 6
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

Tabla del 7
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

Tabla del 8
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

Tabla del 9
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

Tabla del 10
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

In [ ]:
print(f"Tabla del n")
for holitas in range (10):
  print(f"{n} x {holitas+1} = {n *(holitas+1)}")

Tabla del n
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
print(f"Tabla del {n}")
for holitas in range (1,11*n,n):
  print(f"{n} x {int(holitas/n)} = {n*int(holitas/n)}")

Tabla del 2
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(f"{n} x {num} = {n*num}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
numeros2=list(range(1,11))
for num in numeros2:
  print(f"{n} x {num} = {n*num}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

19/Agosto
##Listas
1. Es un tipo de datos
2. Forma canónica para declarar una lista
3. Todos los elementos de una lista DEBEN separarse por comas.


```
(variable)=[]
```
Ejemplo:
flores=["amapola", "tulipan", "lengua de suegra",dahlia, rosa]

In [14]:
dahlia= 3 #Variable de tipo númerica. int
rosa="cinco" #Variable de tipo alfanúmerico, str
flores=["amapola", "tulipan", "lengua de suegra",dahlia, rosa]
flores

['amapola', 'tulipan', 'lengua de suegra', 3, 'cinco']

4. Manual.


```
Lista2=[dato1, dato2, dato3... datoN]
```
5. Siempre son finitas
6. Son indexadas
```
Lista2=[dato1, dato2, dato3... datoN]
```

dato1 está en el index 0

dato2 está ubicadp en el index 1
7. Estructuras para la creación de listas


```
#Ejemplo: crear una lista de 5 elementos
lista=[]#Para que el programa sepa que es una lista
for sonrisas in range (5):

```

In [23]:
lista=[]
for loquesea in range (5):
 flor=input("ingresa el nombre de una flor: ")
 lista.append(flor)

ingresa el nombre de una flor: rosa
ingresa el nombre de una flor: tulipan
ingresa el nombre de una flor: girasol
ingresa el nombre de una flor: orquidea
ingresa el nombre de una flor: clavel

In [24]:
lista

['rosa', 'tulipan', 'girasol', 'orquidea', 'clavel']

#EJERCICIOS DE LA PRUEBA DIAGNÓSTICA
1. Escribe un programa que imprima los números del 1 al 10.

In [47]:
for i in range(10):
  print(i+1)

1
2
3
4
5
6
7
8
9
10

In [46]:
numeros=[]
for i in range(10):
 numeros.append(i+1)
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Escribe un programa que sume los números del 1 al 100.

In [58]:
suma=0
for i in range(101):
 suma = i+suma
print(suma)

5050

In [61]:
suma_de_numeros = []
suma=0
for i in range(101):
 suma = i+suma
 suma_de_numeros.append(suma)
print(suma_de_numeros)

[0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210, 231, 253, 276, 300, 325, 351, 378, 406, 435, 465, 496, 528, 561, 595, 630, 666, 703, 741, 780, 820, 861, 903, 946, 990, 1035, 1081, 1128, 1176, 1225, 1275, 1326, 1378, 1431, 1485, 1540, 1596, 1653, 1711, 1770, 1830, 1891, 1953, 2016, 2080, 2145, 2211, 2278, 2346, 2415, 2485, 2556, 2628, 2701, 2775, 2850, 2926, 3003, 3081, 3160, 3240, 3321, 3403, 3486, 3570, 3655, 3741, 3828, 3916, 4005, 4095, 4186, 4278, 4371, 4465, 4560, 4656, 4753, 4851, 4950, 5050]

3. Escribe un programa que imprima los múltiplos de 3 entre 1 y 30.

In [73]:
for hola in range(3,31,3):
 print(hola)

3
6
9
12
15
18
21
24
27
30

In [80]:
multiplos=[]
for hola in range(3,31,3):
 multiplos.append(hola)
print(multiplos)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

4. Escribe un programa que lea un número e imprima su tabla de multiplicar del 1 al 10.

In [92]:
v=int(input("Ingrese el número que desea multiplicar: "))
print("")
print(f"TABLA DEL {v}")
for i in range (1,11,1):
  print(f"{v} x {i} = {v*i}")

Ingrese el número que desea multiplicar: 9

TABLA DEL 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [98]:
tabla=[]
v=int(input("Ingrese el número que desea multiplicar: "))
print("")
print(f"TABLA DEL {v}")
for i in range (1,11,1):
  multiplicacion=v*i
  tabla.append(multiplicacion)
print(tabla)

Ingrese el número que desea multiplicar: 9

TABLA DEL 9
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

5. Escribe un programa que pida 5 números al usuario y calcule el promedio

In [110]:
suma=[]
for i in range(5):
  numeros=int(input("Ingrese un número: "))
  suma.append(numeros)
  mas
  print(suma)

Ingrese un número: 1
[1]
Ingrese un número: 2
[1, 2]
Ingrese un número: 3
[1, 2, 3]
Ingrese un número: 4
[1, 2, 3, 4]
Ingrese un número: 5
[1, 2, 3, 4, 5]

6. Escribe un programa que cuente cuántos números pares hay entre 1 y un número ingresado

7. Escribe un programa que solicite contraseñas hasta que el usuario ingrese una válida, formada por su apellido y la longitud de su apellido (“Espinosa8”, por ejemplo).