<a href="https://colab.research.google.com/github/vale-07-bit/PROGCOM-A/blob/main/Ejercicios_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Crear una lista con los cuadrados de los números del 1 al 10.

In [18]:
cuadrados=[i**2 for i in range(1,10)]
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81]

2. Obtener una lista con los números pares del 0 al 20.

In [15]:
par=[i for i in range(20) if i%2==0]
par

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

3. Crear una lista con el doble de cada número del 1 al 5.

In [19]:
dobles=[i*2 for i in range(1,6)]
dobles

[2, 4, 6, 8, 10]

4. De la palabra "programacion", obtener solo las vocales.

In [23]:
palabra="programación"
vocales=[i for i in palabra if i in "aeiouáéíóú"]
vocales

['o', 'a', 'a', 'i', 'ó']

5. Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayúsculas.

In [24]:
lista=["python", "java", "c++"]
mayuscula=[i.upper() for i in lista]
mayuscula

['PYTHON', 'JAVA', 'C++']

6. Crear una lista con "par" o "impar" para los números del 1 al 10.

In [30]:
par=[i for i in range(1,11) if i%2==0]
print(par)
impar=[i for i in range(1,10) if i%2!=0]
print(impar)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

7. Generar una lista de tuplas con el número y su cuadrado del 1 al 5

In [34]:
tuplas=[(i,i**2) for i in range(1,6)]
print(tuplas)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

8. Crear una lista con todas las combinaciones de letras en ["a","b"] y números en [1,2,3].

In [40]:
letras=["a","b"]
numeros=[1,2,3]
combinaciones=[(letra, numero) for letra in letras for numero in numeros]
print(combinaciones)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

9. De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con más de 4 letras.

In [41]:
cosmos=["sol", "estrella", "mar", "planeta"]
listap = [i for i in cosmos if len(i) > 4]
listap

['estrella', 'planeta']


10. Clasificar la temperatura de una lista. Si la temperatura es menor a 26, el clima es "frío". Si está entre 26 a 29, es "templado". Si es mayor a 29, el clima es "caliente"

In [46]:
temperaturas=[8,20,34,38,9,13,31,27,26,7]
lista3=[(i,"frío") if i<26 else (i,"templado" if 26 <= i <= 29 else "caliente") for i in temperaturas]
print(lista3)

[(8, 'frío'), (20, 'frío'), (34, 'caliente'), (38, 'caliente'), (9, 'frío'), (13, 'frío'), (31, 'caliente'), (27, 'templado'), (26, 'templado'), (7, 'frío')]